<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <a href="{% url 'home' %}">Inicio</a>
    <h1>Produtos</h1>
    <a href="{% url 'products:new_product' %}">Cadastrar um novo produto</a>

    <form method="GET">
        <div>
            <input type="text" name="q" placeholder="Buscar produtos..." value="{{ request.GET.q }}">
            <button type="submit">Buscar</button>
        </div>
    </form>
        {% block content %}

        {% endblock %}
</body>
</html>